.log_table {
    margin: 0 auto;
    font-family: Arial;
}
.log_table thead th {
    background: #333;
    padding: 10px 20px;
    color: #fff;
}
.result td {
    padding: 8px 20px;
    font-size: 14px;
}

.result:nth-child(2n+1) td {
    background: #f0f0f0;
}
.overflow_block {
    height: 80px;
    width: 500px;
    overflow: auto;
    white-space: nowrap;
}